* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: sans-serif;
  background: rgb(5, 245, 194);
  background: linear-gradient(
    175deg,
    rgba(5, 245, 194, 1) 0%,
    rgba(38, 206, 207, 1) 25%,
    rgba(18, 157, 190, 1) 50%,
    rgba(35, 209, 206, 1) 75%,
    rgba(5, 245, 194, 1) 100%
  );
}

.header {
  width: 100%;
  height: 80px;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  box-shadow: 0 5px 17px rgba(0, 0, 0, 0.3);
  background: rgb(25, 237, 217);
  background: linear-gradient(
    0deg,
    rgba(25, 237, 217, 1) 20%,
    rgba(38, 206, 207, 1) 80%
  );
  display: flex;
  align-items: center;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__logo {
  /* color: rgb(14, 176, 194); */
  font-size: 2.7rem;
  animation: fluido 10s ease-in-out infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #f54803, #f6fa06);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.header__title {
  margin: 0 1rem;
  color: #ffffff;
}
.header__title--lite {
  font-weight: 100;
  font-size: 1.5rem;
}
.search {
  width: 100%;
  height: 45px;
  background: #ffffff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.search__form {
  width: 98%;
  height: 2.2rem;
  display: flex;
  align-items: center;
}
.search__icon {
  /* border: red solid 1px; */
  width: 45px;
  height: 30px;
  margin-left: 10px;
  padding: 0 12px;
  cursor: pointer;
  border-right: rgba(0, 0, 0, 0.3) solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__icon-i {
  /* border: red solid 1px; */
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
}
.search__icon-i:active {
  transform: scale(0.9);
}
.search__input {
  width: 98%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  margin: 0 10px;
}
.search:hover {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.main {
  margin-top: 30px;
  width: 100%;
}
.card-container {
  margin: 0 auto;
  width: 90%;
  column-width: 18rem;
  break-inside: avoid;
}
.card {
  width: 100%;
  padding: 0.5rem;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 1rem;
  /* border: red solid 1px; */
}
.card__img {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
  break-inside: avoid;
}
.card__img:hover {
  transition: 0.7s;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0);
  transform: scale(1.2);
}

.card__title {
  font-size: 0.9rem;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 8px 0 3px 0;
}
